#header-links {
  white-space: nowrap;
  overflow: hidden;
}
#header-links > a {
  color: black;
  text-decoration: none
}
.popup-menu-content {
  display: none;
  position: absolute;
  white-space: nowrap;
  text-align: center;
}