#header-links {
  white-space: nowrap;
  overflow: hidden;
}
#header-links > a {
  color: black;
  text-decoration: none
}
#header-setting-button {
  max-width: 50px;
  padding: 0px;
  text-align: center;
}
.popup-menu-content {
  display: none;
  position: absolute;
  white-space: nowrap;
  text-align: center;
  z-index: 9999;
}
.popup-menu-content * {
  text-decoration: none;
  color: black;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.loading .row {
  height: 100vh;
}
#file-list-ul a {
  text-decoration: none;
  color: black
}
#file-list-ul table {
  border: none;
  width: 100%;
  text-align: left;
}
#file-list-ul td {
  overflow: hidden;
  word-break: break-word;
}
#file-list-ul td:nth-child(odd){
  width: 2em;
  text-align: center;
}